<section id="message_container" class="message_container">
</section>
<section id="login_section" class="login_section">
  <form id="login_form" class="login_form" action="/login" method="post">
    <label for="email">Your email</label>
    <br>
    <input type="email" id="email" name="email" value="" placeholder="">
    <br>
    <label for="password">Your password</label>
    <br>
    <input type="password" id="password" name="password" value="" placeholder="">

    <input type="submit" role="button" class="login_button" name="" value="Log in">
<br>
      <p><a href="https://haveibeenpwned.com/Passwords" class="label-link">Forgot your password?</a></p>
  </form>
</section>
